.finish__wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 1208px;
}

.finish__information {
  /* position: absolute;
  bottom: 82px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  left: 50%;
  transform: translateX(-50%); */
  margin: 0 auto;
}

.finish__title {
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}

.finish__subtitle {
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.finish__name {
  color: rgb(255, 255, 255);
  margin-bottom: 62px;
}
.finish__names {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 62px;
}

.finish__date {
  color: rgb(255, 255, 255);
}

.black {
  color: black;
}

@media (max-width: 576px) {
  .finish__title {
    margin-bottom: 25px;
  }
  .finish__subtitle {
    margin-bottom: 15px;
  }

  .finish__names {
    gap: 10px;
    margin-bottom: 45px;
  }
}
