@import "hederFooter.css";
@import "text.css";
@import "finish.css";
@import "videoDecor.css";
@import "main.css";

.first-screen {
  overflow: hidden;
}

.first-screen__wrapper {
  position: relative;

  border-radius: 14px;
  box-sizing: border-box;
  background: rgb(229, 232, 230);
  padding-top: 107px;
  padding-left: 50px;
  padding-bottom: 137px;
  width: 100%;
}

.first-screen__title {
  max-width: 750px;
  margin-bottom: 34px;
}

.first-screen__divan {
  position: absolute;
  right: -177px;
  top: 139px;
}

.first-screen__descr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about {
  padding-top: 55px;
  padding-bottom: 117px;
}

.about__text {
  max-width: 820px;
  margin: 0 auto;
  margin-bottom: 62px;
}

.about__video-wrapper {
  margin: 0 auto;
  width: 97%;
  max-width: 1078px;
}

.about__video-wrapper video {
  border-radius: 0 0 20px 20px;
}

.analysis {
  padding-bottom: 65px;
}

.analysis__descr {
  margin-bottom: 94px;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.analysis__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.analysis__card {
  border-radius: 14px;
  padding: 35px 46px 58px 35px;
  display: flex;
  flex-direction: column;
}

.analysis__card:nth-of-type(1) {
  background: rgb(133, 235, 184);
}

.analysis__card:nth-of-type(2) {
  background: rgb(229, 232, 230);
}

.analysis__card:nth-of-type(3) {
  background: rgb(158, 209, 106);
}

.card__condition {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 32px;
}

.card__be {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 45px;
}

.card__become {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.optimization {
  padding-bottom: 43px;
  border-bottom: 1px solid rgb(239, 239, 239);
}

.optimization__text {
  margin-bottom: 77px;
  max-width: 820px;
}

.optimization__video-wrapper {
  margin: 0 auto;
  width: 97%;
  max-width: 1078px;
  margin-bottom: 168px;
}

.optimization__video-wrapper video {
  border-radius: 0 0 20px 20px;
}


.optimization__pavel {
  margin-bottom: 17px;
}

@media (max-width: 1400px) {
  .container {
    width: 1150px;
  }

  .analysis__wrapper {
    justify-content: center;
    gap: 15px;
  }
  .first-screen__divan {
    right: -327px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .first-screen__title {
    max-width: 550px;
  }
  .first-screen__wrapper {
    padding-bottom: 80px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }

  .analysis__card {
    width: 100%;
  }

  .about {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .about__text {
    margin-bottom: 40px;
  }

  .first-screen__wrapper {
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 231px;
  }

  .first-screen__divan {
    position: absolute;
    right: -149px;
    top: 225px;
    height: 276px;
  }

  .first-screen__title {
    max-width: 650px;
    font-size: 36px;
    line-height: 41px;
  }

  .analysis__descr {
    margin-bottom: 50px;
  }
  .optimization__video-wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }

  .first-screen__wrapper {
    padding-top: 39px;
    padding-right: 25px;
  }
  .first-screen {
    padding-bottom: 44px;
  }

  .first-screen__title {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 19px;
  }
  .first-screen__divan {
    position: absolute;
    right: -150px;
    top: 230px;
  }
  .analysis__card {
    padding: 22px 18px 22px 18px;
  }
  .card__condition {
    gap: 10px;
    margin-bottom: 15px;
  }
  .card__be {
    gap: 10px;
    margin-bottom: 20px;
  }

  .card__become {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 93%;
    padding: 0 10px;
  }

  .first-screen__title {
    font-size: 25px;
    line-height: 27px;
  }
  .first-screen__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .first-screen__divan {
    right: -268px;
    top: 245px;
  }

  .analysis__descr {
    margin-bottom: 26px;
    gap: 10px;
  }

  .analysis {
    padding-bottom: 34px;
  }
  .optimization__text {
    margin-bottom: 35px;
  }
  .optimization__video-wrapper {
    margin-bottom: 80px;
  }
}
